
doctype 5
html
  head
    title @chat
    meta(charset='utf-8')
    link(rel='stylesheet', href='page.css')
    script(defer, src='build.js')
  body
    #box
      input#name(placeholder='your name') set name
      #list
      input#input