
.button {
    display: inline-block;
    background: rgb(195, 132, 253);
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 17px;
    -webkit-user-select: none;
}

.button.is-fancy {
    border-radius: 50%;
    padding: 10px;
    background: rgb(205, 171, 99);
}

.button + .button {
    margin-left: 0.5em;
}

.button:hover {
    background: rgb(149, 115, 250);
}

.button:active {
    transform: scale(1.1);
}

.button.be-large {
    width: 100%;
}