
.label {
    display: inline-block;
    float: right;
    margin-bottom: 11px;
    padding: 2px 7px;
}

.label.is-error {
    color: red;
}

.label.is-error:before {
    content: '× ';
    background: rgb(210, 68, 68);
    width: 16px;
    height: 16px;
    display: inline-block;
    line-height: 14px;
    text-align: center;
    border-radius: 8px;
    margin-right: 10px;
    color: white;
}