
.login-view {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(146, 205, 255);
}

.login-view > .panel {
    width: 430px;
    height: auto;
    background-color: white;
    padding: 20px;
    border-radius: 6px;
}
