
.panel {}

.panel > .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  box-shadow: 0 1px 0 rgb(223, 223, 223);
  padding-bottom: 13px;
}

.panel > .content {
    padding: 10px 7px;
}

.panel > .content > input.be-large {
    width: 100%;
    display: block;
    margin-bottom: 14px;
}