
.teams-list {
    display: flex;
    flex-direction: column;
}

.teams-list .team-empty {
    padding: 10px 20px;
}

.teams-list .titles {
    padding: 20px;
}

.teams-list > .header {
    line-height: 40px;
}

.teams-list > .grid-left-right {
    flex: 1;
}