
.team-title {
    padding: 6px 8px;
    cursor: pointer;
}

.team-title > .button {
    float: right;
}

.team-title:hover {
    background: rgb(237, 237, 237);
}

.team-title + .team-title {
    border-top: 1px solid rgb(232, 232, 232);
}

.team-title > * + * {
    margin-left: 0.5em;
}

.team-title > .logo {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}