
.user-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    padding: 10px;
}

.user-panel > div + div {
    margin-top: 1em;
}

.user-panel > .avatar {
    width: 60px;
    height: 60px;
    cursor: pointer;
}
